:root {
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1,
h3 {
    font-weight: bold;
}

.brand {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 1.5em;
}

.weather-app {
    min-height: 100vh;
    background: url(../image/day/cloudy.jpg) center/cover no-repeat;
    color: var(--text-color);
    transition: 0.4s;
    opacity: 1;
    position: relative;
    animation: backgroundChange linear 0.3s;
}

.weather-app::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em 3em 4em 3em;
}

.container > div {
    display: flex;
    align-items: center;
}

.temperature,
.city-time,
.weather {
    margin: 0 1em;
    padding-top: 12px;
}

.temperature {
    font-size: 6em;
    margin: 0;
}

.city-time .name {
    margin-bottom: 0.2em;
    text-align: center;
    font-size: 2.5em;
}

.weather .icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5em;
}

.weather .condition {
    display: block;
    text-align: center;
}

.panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(111, 117, 118, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
}

.panel form {
    margin-bottom: 3em;
}

.search {
    background: transparent;
    color: var(--text-color);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0 1em 0.5em 0;
    width: 80%;
    font-size: 1.2em;
    outline: none;
}

.search::placeholder {
    color: #ccc;
}

form .submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    font-size: 1.2em;
    color: var(--text-color);
    outline: none;
    border: none;
    background-color: #fa6d1b;
    cursor: pointer;
    transition: 0.5s;
}

form .submit:hover {
    background-color: #57f295;
    color: #000;
}

.panel ul {
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px solid #ccc;
}

.panel ul li {
    list-style: none;
    color: #ccc;
    margin: 2.5em 0;
}

.panel ul h4 {
    margin: 3em 0;
}

.city {
    display: block;
    width: fit-content;
    cursor: pointer;
}

.city:hover {
    color: #fff;
}

.details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
